
body {
  	font: 10px Arial, Helvetica, sans-serif;
  	margin: 0;  
  	background: black;
}

.topnav {
  	overflow: hidden;
  	background-color: rgb(82,162,156);
  	margin: 0 auto;
  	background-color: #4686a0;
  	color: rgba(255, 255, 255, 0.75);
  	background-attachment: fixed,							fixed,							fixed;
  	background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  	background-position: top left,						center center,					center center;
  	background-size: auto,							cover,							cover;
  	position: relative;
  	text-align: center;
}

.axis path,
.axis line {
  	fill: none;
  	stroke: #FFF;
  	shape-rendering: crispEdges;
}

.dot {
  	stroke: black;
}

.background path {
  	fill: none;
  	stroke: #454545;
  
}

.foreground path {
  	fill: none;
  	/*stroke: steelblue;*/
}

.foregrounding{
    fill: none;
    stroke: orange !important;
    stroke-width: 1px !important;
}

.foregroundingd1{
    fill: none;
    stroke: #beaed4 !important;
    stroke-width: 1px !important;
}
.foregroundingd2{
    fill: none;
    stroke: #ffff99 !important;
    stroke-width: 1px !important;
}
.foregroundingd3{
    fill: none;
    stroke: #7fc97f !important;
    stroke-width: 1px !important;
}
.foregroundingd4{
    fill: none;
    stroke: #fdc086 !important;
    stroke-width: 1px !important;
}
.backg{
    fill: none;
    display: none;
    shape-rendering: crispEdges;
    stroke: #ddd !important;
    z-index: -4;
}

.brush .extent {
  	fill-opacity: .3;
  	stroke: #fff;
  	shape-rendering: crispEdges;
}

.axis text {
  	fill:white;
  	/*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
  	cursor: move;
}

.bar {
  	fill: rgb(99, 148, 186);
}

.bar:hover {
  	fill: rgb(202, 75, 65) ;
}

/* Legend Position Style */
.legend {
	fill:white;
	position:absolute;
	left:800px;
	top:350px;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
    pointer-events: all;
}

div.tooltip {
  	position: absolute;
  	text-align: center;
  	width: 65px;
  	height: 25px;
  	padding: 2px;
  	font: 12px sans-serif;
  	background: lightsteelblue;
  	border: 0px;
  	border-radius: 8px;
  	pointer-events: none;
} 


.axis path,
.axis line {
  	fill: none;
  	stroke: #FFF;
  	shape-rendering: crispEdges;
}

.bar {
  	fill: steelblue;
}

div.tooltip1 {
  	position: absolute;
  	text-align: center;
  	width: 65px;
  	height: 40px;
  	padding: 2px;
  	font: 12px sans-serif;
  	background: lightsteelblue;
  	border: 0px;
  	border-radius: 8px;
  	pointer-events: none;
} 


div.tooltip2 {
  	position: absolute;
  	text-align: center;
  	width: 65px;
  	height: 30px;
  	padding: 2px;
  	font: 12px sans-serif;
  	background: lightsteelblue;
  	border: 0px;
  	border-radius: 8px;
  	pointer-events: none;
} 

label {
  	position: absolute;
  	top: 150px;
  	right: 30px;
  	color: #D8D8D8;
}

.stack{
  	width: 930px; 
  	height: 443px;
}

#footer{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
}
/*
.c{
  position: absolute;
  top: 150px;
  right: 35px;
  color: #D8D8D8;
}*/